body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    width: 1px;
}

ul{
    list-style-type: none;
    line-height: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

   
}

.first-block-text{
    display:  flex;
    
    
}
#first-block{
    background-color: rgb(93, 0, 180);
    width: 300px;
    color: cornsilk;
    height: 125px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
}

h1{
    text-align: center;
}

#content{
    max-width: 1330px;
    margin: 0px auto;
    padding: px 15px;
}

#second-block{
    width: 100%;
    height: 200px;
    background-color: rgb(93, 0, 180);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.shape{
    background-color: rgb(203, 147, 255);
    height: 150px;
    width: 100px;
    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
    opacity: 0.7;
    }
    @keyframes skew {
    0% {
        transform: skewX(20deg);
    }
    100% {
        transform: skewX(-20deg);
    }
}

span{
    font-weight: bold;
}

.css-background{
    background-image: url(https://antareskbr.ru/wp-content/uploads/2021/02/kosmos-art-zvezda-astronavt.jpg);
    width: 100%;
    height: 500px;
}

@media  (min-width: 1600px){
    .css-background{
        width: 100%;
        height: 800px;
    }
}
    
