body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    width: 20px;
    color: cornsilk;
}

ul{
    list-style-type: none;
    line-height: 25px;
   
}

#first-block{
    background-color: rgb(93, 0, 180);
    width: 200px;
    color: cornsilk;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}